<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlboMacs</title>
    <link rel="stylesheet" href= "{% static 'style.css' %}">
</head>

<body>

    <header class="header clearfix">
        <img src='../static/img/logo_luiss.png' class="header_logo">
        <a href="" class="header_iconbar">
            <span></span> <!-- GLI SPAN SONO I TRATTINI DEL MENU -->
            <span></span>
            <span></span>
        </a>
        <ul class="header_menu">
            <li class="header_menu_item"><a href="{% url 'index' %}">Home</a></li>
            <li class="header_menu_item"><a href="{% url 'achievements' %}">Achievements</a></li>
            <li class="header_menu_item"><a href="{% url 'courseprogram' %}">Course program</a></li>
        </ul>

    </header>

    <section class="cover">
        <div class="cover_caption_filter">
        <div class="cover_caption">
                <div class="cover_caption_copy"> <!-- questo div interno mi serve per centrare verticalmete i testi -->
                    <h1>Management and Computer Science</h1>
                    <h2>Palmarès</h2>

                </div>
        </div>
        </div>
     
    </section>  
    
    <section class="clearfix">
        <div class="news">
            <h2>Latest News</h2>
        </div>

        <div class="cards">
            {% for news in latest_news %}
                <div class="card">
                
                        <img src="{{ news.image.url }}" class="card_image" alt="news.title">
                        <div class="card_copy"> <!-- questo div contiene la parte testuale della card -->
                            <h3>{{news.title}}</h3>
                            <p>{{news.description}}</p>
                            <a href="{% url 'news_detail' pk=news.pk %}" class="button">See More</a>
                        </div>
                    
                </div>
            {% endfor %}

            
        </div>



    </section>


    <footer class="footer">
        <small>©2022 Author. Design by DaDeMa</small>
    </footer>  
    



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!--  load jQuery -->
<script src="{% static 'script.js' %}"></script>

</body>
</html>